.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 780px) {
  .header {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 35px;
  }
}
